

body {
    background: url('../img/bg.jpg') repeat-x;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

/*HEDER*/

/*SIDEBAR*/

/*SECTION*/

/*FOOTER*/
