body {
    background: url('../img/bg.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Open Sans', Arial, sans-serif;
	background-repeat: no-repeat;
    font-size: 12px;
}

/*TOP*/

.top {
    display: flex;
    flex-direction: row-reverse;
    height: 30px;
    background: #085495;
}

.top li {
    float: left;
    list-style-type: none;
}

.flag {
    padding: 0 10px;
    border-left: 1px solid white;
}


.flag img {
    height: 20px;
    width: 20px;
}

.flag a {
    text-decoration: none;
    color: #fff;
}

.link {
    margin: 6px 10px 0 10px;
}

.link span, a {
    color: #fff;
}

.nav {
    margin: 0;
}

.nav li {
    margin-right: 10px;
}

.nav a {
    display: block;
    padding: 7px 10px 10px 10px;
    color: #35a5e5;
    text-decoration: none;
}

.nav a:hover {
    color: #fff;
    background: #35a5e5;
}


/*BOX*/

.cs {
    text-align: center;
    background: rgba(0, 0, 0, 0.52);
    width: 420px;
    margin: 0 auto;
}

.cs h2 {
    margin-top: 130px;
    padding: 15px;
    margin-bottom: 3px;
    color: #fff;

}

.box {
    text-align: center;
	background: rgba(0, 0, 0, 0.52);
    width: 420px;
    margin: 0 auto;
    color: #fff;
}

.log_in a {
    display: block;
}

.log_in img {
    padding: 30px 0;
    width: 210px;
    border-bottom: 1px solid #000;
}

.registr {
    text-align: center;
}

input[type="text"] {
    transition: all 0.30s ease-in-out;
    color: #fff;
    width: 200px;
    padding: 5px;
    margin: 10px;
    background: #000;
    border: none;
}

input[type="text"]:focus {
    box-shadow: 0 -3px 5px  #1b5288;
    background: #1b5288;
}

input[type="password"] {
    transition: all 0.30s ease-in-out;
    color: #fff;
    width: 200px;
    padding: 5px;
    margin: 10px;
    background: #000;
    border: none;
}

input[type="password"]:focus {
    box-shadow: 0 -3px 5px  #1b5288;
    background: #1b5288;
}

 
 .create {
    margin-top: 20px;
 }

.foot_text {
    padding: 10px 60px;
}

