

body {
    background: url('../img/bg.png');
    font-family: 'Open Sans', Arial, sans-serif;
	background-repeat: no-repeat;
	-moz-background-size: 100%; 
    -webkit-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%;
    font-size: 12px;
}

/*HEDER*/

/*BOX*/
.box {
	background: rgba(0, 0, 0, 0.52);
    width: 560px;
    margin: 0 auto;
}

/*SECTION*/

/*FOOTER*/
